.article {
    margin: 10px;
}

.article_title {
    font-family: Roboto;
    margin-left: 10px;
    font-size: 16px;
}

.article_content {
    border: #AAA 1px solid;
    border-radius: 10px;
    width: 360px;
    height: 400px;
}