.article {
    margin-top: 24px;
    margin-left: 40px;
}

.article_title {
    font-family: Roboto;
    margin-left: 10px;
    font-size: 16px;
}

.article_content {
    border: #AAA 1px solid;
    border-radius: 10px;
    width: 360px;
    height: 300px;
    background: #FFFFFF;
}